<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lecturers and Students</title>
    <style>
      table {
        width: 600px;
      }
      th,
      td {
        padding: 8px;
        text-align: center;
      }
      a {
          text-decoration: none;
          padding: 4px 8px;
          color: white;
          background-color: maroon;
          border: none;
      }
      a:hover {
          color: maroon;
          background-color: white;
          border: 1px solid black;
      }
      .form-main {
          width: 600px;
      }
      .form-group {
          width: 100%;
          margin-bottom: 8px;
      }
      button {
          background-color: green;
          padding: 4px 8px;
          color: white;
      }
    </style>
  </head>
  <body>
    <h1>Home Page</h1>

    <a href="/lecturers">Lecturers</a>
    <a href="/students">Students</a>
    <hr />
    <h3>Add Lecturer</h3>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptate
      minima a unde assumenda laboriosam ex labore suscipit nihil. Eos
      asperiores adipisci officiis, aspernatur error vero saepe temporibus iusto
      quasi.
    </p>
    <div class="form-main">
        <form action="/lecturers/create" method="post">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" name="name">
            </div>
            <div class="form-group">
                <label for="">Subject</label>
                <input type="text" name="subject">
            </div>
            <div class="form-group">
                <label for="">Age</label>
                <input type="text" name="age">
            </div>
            <div class="form-group">
                <label for="">city</label>
                <input type="text" name="city">
            </div>
            <div class="form-group">
                <button type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
  </body>
</html>
