<%- include('header') %>

<div class="row">
  <div class="col-12 my-2 text-center">
    <p class="fw-bold">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem veritatis
    </p>
    <small
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab
      perferendis adipisci ratione cum non consequuntur eos pariatur suscipit,
      omnis nostrum quod architecto distinctio, necessitatibus nisi quos, fugiat
      odio ipsa.</small
    >
  </div>
</div>
<div class="row text-center my-2">
  <div class="col-4">
    <i class="fa-solid fa-building"></i>
    <p>Kolom 1</p>
  </div>
  <div class="col-4">
    <i class="fa-solid fa-building"></i>
    <p>Kolom 2</p>
  </div>
  <div class="col-4">
    <i class="fa-solid fa-building"></i>
    <p>Kolom 3</p>
  </div>
</div>
<%- include('footer') %>
